.difficulty {
    position: relative;
    display: inline-block;
}

.diff-lvl {
    font-size: 18px;
    transition: border-color 0.3s ease;
    border: 1px solid #1a1a1a;
    padding: 5px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

.diff-lvl:hover {
    border-color: #06232f;
}

.diff-lvl:disabled {
    border-color: #004f79;
    cursor: not-allowed;
}

.sudoku-board {
    display: inline-block;
    border-collapse: collapse;
    margin-top: 20px;
    border: 3px solid #000;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

.sudoku-board tr:not(:last-child):nth-child(3n) td {
    border-bottom: 3px solid #000;
}

.sudoku-board td:not(:last-child):nth-child(3n) {
    border-right: 3px solid #000;
}

.sudoku-board td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    color: #16162a;
    border: 1px solid #484646;
    background-color: #fff;
}

.sudoku-board .empty {
    background-color: #f7f7f7;
}

.sudoku-board td:hover {
    background-color: #a9d2da;
    transition: background-color 0.3s ease;
}

.timer-container {
    display: inline-block;
    margin-left: 245px;
    font-size: 18px;
    padding-top: 20px;
}

.input {
    display: inline-block;
    float: right;
    margin-right: 155px;
    margin-top: 70px;
    font-size: 20px;
    transform: scale(1.7);
}

.input button {
    width: 36px;
    height: 36px;
    font-size: 18px;
    margin: 4px;
    border: none;
}

.input button:hover {
    background-color: #a9d2da;
    transition: background-color 0.3s ease;
}

.buttons-style {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    width: 255px;
    height: 50px;
    border: none;
    background-color: #42579b;
    color: white;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}

.buttons-style:hover {
    background-color: #0c0d4b;
    transition: background-color 0.3s ease;
}

.check-button-style {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    width: 255px;
    height: 50px;
    border: none;
    background-color: #42579b;
    color: white;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}

.check-button-style:hover {
    background-color: #0c0d4b;
    transition: background-color 0.3s ease;
}

.check-button-style:disabled {
    background-color: #868c8d;
    color: #16162a;
}

.link-new-game {
    text-decoration: none;
    color: white;
}

.sudoku-cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    color: #16162a;
    border: 1px solid #484646;
    background-color: #fff;
}

.sudoku-cell.selected {
    background-color: #d7e1ea;
    transition: background-color 0.2s linear;
}

.sudoku-cell.selected-number {
    background-color: #a9d2da;
    transition: background-color 0.2s linear;
}

.sudoku-cell.highlighted {
    background-color: #f7f7f7;
}

.sudoku-cell.wrong-number {
    background-color: #de7a7a;
    transition: background-color 0.2s linear;
}


/* Media queries dla responsywności */
@media only screen and (max-width: 480px) {
    .timer-container {
        margin-left: 0;
    }

    .input {
        margin-right: 0;
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .section {
        font-size: 10px;
    }

    .timer-container,
    .input {
        display: block;
        text-align: center;
        margin: 0;
    }

    .input button {
        transform: scale(0.7);
        display: inline;
    }

    .buttons-style {
        width: 50%;
        margin-left: 0;
        margin-top: 10px;
    }
}
