.difficulty {
    position: relative;
    display: inline-block;
}

.diff-lvl {
    width: 110px;
    height: 30px;
    font-size: 18px;
    transition: border-color 0.3s ease;
    border: 1px solid #1a1a1a;
    padding: 5px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

.diff-lvl:hover {
    border-color: #06232f;
}

.diff-lvl:disabled {
    border-color: #004f79;
    cursor: not-allowed;
}

.sudoku-board {
    display: inline-block;
    border-collapse: collapse;
    margin-top: 20px;
    border: 3px solid #000;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    transition: filter 0.3s ease, pointer-events 0.3s ease;
}

.sudoku-board tr:not(:last-child):nth-child(3n) td {
    border-bottom: 3px solid #000;
}

.sudoku-board td:not(:last-child):nth-child(3n) {
    border-right: 3px solid #000;
}

.sudoku-board td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    color: #16162a;
    border: 1px solid #484646;
    background-color: #fff;
}

.sudoku-board .empty {
    background-color: #f7f7f7;
}

.sudoku-board td:hover {
    background-color: #a9d2da;
    transition: background-color 0.3s ease;
}

.timer-container {
    display: inline-block;
    margin-left: 50px;
    font-size: 18px;
    padding-top: 20px;
}


#timer{
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px 5px;
    color: #000000;
    background-color: #FFFFFF;
    border: none;
    text-align: center;
}

.pause-container {
    display: inline-block;
    margin-left: 40px;
    font-size: 18px;
    padding-top: 10px;
    position: relative;
}

.pause-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.pause-button:hover {
    background-color: #cecece;
}

.pause-button:hover:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

.pause-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 10px;
    background-image: url('https://img.icons8.com/ios-glyphs/30/pause--v1.png');
}

.pause-button.paused .pause-icon {
    background-image: url('https://img.icons8.com/ios-glyphs/30/play--v1.png');
}

.pause-label {
    font-size: 18px;
    color: #333333;
}

.blurred {
    filter: blur(6px); /* Efekt blurowania */
    pointer-events: none; /* Wyłącz interakcję z elementem */
}


.input {
    display: inline-block;
    float: right;
    margin-right: 150px;
    margin-top: 70px;
    font-size: 20px;
    transform: scale(1.7);
}

.input button {
    width: 36px;
    height: 36px;
    font-size: 18px;
    margin: 4px;
    border: none;
}

.input button:hover {
    background-color: #a9d2da;
    transition: background-color 0.3s ease;
}

.new-game-button {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    width: 255px;
    height: 50px;
    border: none;
    background-color: #42579b;
    color: white;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}

.new-game-button:hover {
    background-color: #0c0d4b;
    transition: background-color 0.3s ease;
}

.check-button-style {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 20px;
    width: 115px;
    height: 50px;
    border: none;
    background-color: #42579b;
    color: white;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    float: left;
}

.check-button-style:hover {
    background-color: #0c0d4b;
    transition: background-color 0.3s ease;
}

.check-button-style:disabled {
    background-color: #868c8d;
    color: #16162a;
}

.rubber{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 10px;
    width: 115px;
    height: 50px;
    border: none;
    background-color: #42579b;
    color: white;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    float: left;
}

.rubber:hover {
    background-color: #0c0d4b;
    transition: background-color 0.3s ease;
}

.rubber:active{
    background-color: #060733;
    transition: background-color 0.3s ease;
}

.rubber:disabled{
    background-color: #868c8d;
    color: #16162a;
}


.link-new-game {
    text-decoration: none;
    color: white;
}

.sudoku-cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    color: #16162a;
    border: 1px solid #484646;
    background-color: #fff;
}

.sudoku-cell.selected {
    background-color: #d7e1ea;
    transition: background-color 0.2s linear;
}

.sudoku-cell.selected-number {
    background-color: #a9d2da;
    transition: background-color 0.2s linear;
}

.sudoku-cell.not-generated.wrong-number {
    background-color: #de7a7a;
    transition: background-color 0.2s linear;
}

.sudoku-cell.wrong-number:hover {
    background-color: #d25757;
    transition: background-color 0.2s linear;
}

.sudoku-cell.not-generated {
    background-color: #ffffff;
    color: #0e5bab;
}

.sudoku-cell.not-generated.selected {
    background-color: #d7e1ea;
    transition: background-color 0.2s linear;
}

.sudoku-cell.not-generated.selected-number {
    background-color: #a9d2da;
    transition: background-color 0.2s linear;
}

/* Media queries dla responsywności */
@media only screen and (max-width: 480px) {
    .timer-container {
        margin-left: 0;
    }

    .input {
        margin-right: 0;
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .section {
        font-size: 10px;
    }

    .timer-container,
    .input {
        display: block;
        text-align: center;
        margin: 0;
    }

    .input button {
        transform: scale(0.7);
        display: inline;
    }

    .buttons-style {
        width: 50%;
        margin-left: 0;
        margin-top: 10px;
    }
}
