.head {
    color: #21213f;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text {
    color: #2b2d30;
    font-size: 16px;
    line-break: auto;
}

.link-tutorial {
    text-decoration: none;
    color: #21213f;
    font-size: 16px;
    font-weight: bold;
}

.level {
    color: #21213f;
    font-size: 18px;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 60%;
    height: 40%;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    float: right;
}

.image1 {
    width: 270px;
    height: 270px;
    background-image: url(../images/example1.png);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    transition: background-image 0.3s linear;
}

.image1:hover {
    background-image: url(../images/example1a.png);
}

.image2 {
    width: 270px;
    height: 270px;
    background-image: url(../images/example1a.png);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    transition: background-image 0.3s linear;
}

.image2:hover {
    background-image: url(../images/example1b.png);
}

.article-text {
    text-align: left;
    margin-right: 20px;
    margin-bottom: 10px;
}



